.about-container {
  display: flex;
  margin-bottom: var(--spacing-256);
}

.arrow-container {
  padding: 20px 20vw 0 0;

  img {
    width: var(--spacing-64);
  }
}

.about-content-container {
  display: flex;
  flex-direction: column;
}

.about-heading-container {
  margin-bottom: var(--spacing-128);
}

.about-blurb-container {
  display: flex;
  gap: var(--spacing-256);
  padding-right: var(--spacing-256);
}

.about-blurb-content-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-32);
}

.about-blurb-para {
  h4 {
    font-weight: 300;
  }
}

.about-blurb-cta {
  margin-top: var(--spacing-32);
  position: relative;
  display: inline-block;
  padding: var(--spacing-16) 0;
  overflow-x: hidden;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  &:hover {
    .about-cta-line {
      transform: translateX(100%);
    }
  }
}

.about-cta-line {
  content: "";
  position: absolute;
  transition: all 0.5s;
  right: 0;
  border-bottom: 2px solid;
  background-color: $black;
  width: 100%;
}
